@import 'variable.scss';

.hackacademy-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    width: 100%;
    background-color: $back-color;
    
    &-logo {
        float: left;
        margin-top: 10px;
        width: 16%;
        
        &-img{
            width: 310px;
            height: 48px;
        }
    }
    
    &-login {
        float: right;
        margin-top: 20px;
        margin-right: 10%;
        
        &-button {
            border: none;
            color: #ffffff;
            background-color: inherit;
            font: {
                size: 18px;
                family: $font-family;
            }
        }
    }
}
