@import 'header.scss';
@import 'login.scss';
@import 'forgot.scss';

body {
    min-width: 470px;
}

.back-drop {
    display: block;
    position: absolute;
    z-index: -2;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 900px;
}